body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0 10px;
  /* Добавлено для отступов на мобильных устройствах */
  background-color: #2a2a2a;
  color: #e0e0e0;
  transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
  background-color: #f0f0f0;
  color: #2a2a2a;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: relative;
}

header.light-mode {
  background: #f0f0f0;
  color: #333;
}

.menu-toggle,
.theme-toggle {
  position: absolute;
  top: 15px;
  cursor: pointer;
  z-index: 10;
  font-size: 24px;
}

.menu-toggle {
  right: 60px;
}

.theme-toggle {
  right: 20px;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  /* Уменьшение ширины меню */
  height: 100%;
  background-color: #333;
  padding: 10px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.menu.active {
  display: block;
  transform: translateX(0);
}

.menu a {
  display: block;
  padding: 8px 10px;
  /* Уменьшение отступов для компактности */
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #444;
  transition: background 0.3s;
}

.menu a:hover {
  background: #444;
}

section {
  display: none;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #3c3c3c;
  transition: background-color 0.3s;
}

section.light-mode {
  background-color: #fff;
  color: #333;
}

section.active {
  display: block;
}

.discord-link {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #7289da;
  font-weight: bold;
  font-size: 14px;
  /* Уменьшить размер шрифта для ссылки на Discord */
}

.discord-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {

  header,
  section {
    padding: 15px;
  }

  .menu-toggle,
  .theme-toggle {
    font-size: 20px;
    /* Уменьшить размер иконок для мобильных */
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5em;
    /* Замените на нужный размер шрифта */
  }

  .menu a {
    padding: 10px;
    /* Уменьшить отступы для мобильных */
  }

  section {
    margin: 10px;
    padding: 15px;
  }
}
